
      <h1>About Cubicle</h1>
      <div class="about">
        <p>
          <i>"Cubicle"</i> is a place, where you can browse some of the world's most unique rubiks cubes in the world and add
          some new cubes that you have discovered. This application was created by Faith Tarbert as an exercise for the Kingsland University JS back-end course.</p>
      </div>