<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/stylesheets/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>
<body>
    <div class="container">
            {{!-- this is the reference to the header hbs file --}}
            {{>header}}

       {{!-- this is the reference to any registration errors --}}     
       {{#if errors}}
        <div id="notifications">
                {{#each errors}}
                    <p id="notification-message">{{this.msg}}</p>
                {{/each}}
        </div>
        {{/if}}

        {{!-- this is the reference to the body contents of each page --}}
        <main>{{{body}}}</main>
    </div>
    
        {{!-- this is the reference to the hbs footer --}}
        {{>footer}}
</body>
</html>