
	<h1>Register Form</h1>
    <div style="text-align: center;">
    {{err}}
    </div>
<div class="form">
    <form action='/register' method="POST" autocomplete="off">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <br><br><label for="repeatPassword">Confirm-PW</label>
        <input type="password" id="repeatPassword" name="repeatPassword">
        <br><br><input type="submit" value="Register">
    </form>
</div>
